
<% include ../partials/header %>



<!--<div class="container">-->
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome to YelpCamp</h1>
            <p>view camps from all over the world</p>
            <p>
                <a class="btn btn-primary btn-lg" href="/campGrounds/new">Add new Destinations</a>
            </p>
        </div>
    </header>
    
    <!--<div class="row">-->
    <!--    <div class="col-lg-12">-->
    <!--        <h3>Our most popular site</h3>-->
    <!--    </div>-->
    <!--</div>-->
    
    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% campgrounds.forEach(function(ground){%>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="<%=ground.image%>">                    
                    <div class="caption">
                        <h4><%=ground.name%></h4>
                    </div>
                    <p>
                        <a class="btn btn-primary" href="/campGrounds/<%= ground._id %>">More Info</a>
                    </p>
                </div>


            </div>
        <% });%>  
    </div>

<!--</div>-->
<% include ../partials/footer %>
